@model Voyager.MVC.Models.EntityFramework.Person
@{
    ViewBag.Title = "PersonForm";
}

<h2>Kişi Form</h2>
<hr />
<br />

@using (Html.BeginForm("Save", "Person", FormMethod.Post))
{
    @Html.HiddenFor(x => x.Id)

    <div class="form-group">
        @Html.LabelFor(x => x.IdentityNumber)
        @Html.TextBoxFor(x => x.IdentityNumber, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName)
        @Html.TextBoxFor(x => x.LastName, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Age)
        @Html.TextBoxFor(x => x.Age, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.DateOfBirth)
        @Html.TextBoxFor(x => x.DateOfBirth,"{0:dd-MM-yyyy}", new { @class = "form-control" ,type="date"})
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.Gender)
        <select class="form-control" id="Gender" name="Gender">
            <option value="" disabled selected>--Cinsiyet Seçiniz--</option>
            <option value="0">Belirsiz</option>
            <option value="1">Kadın</option>
            <option value="2">Erkek</option>
        </select>
    </div>
    <br />
    <button type="submit" class="btn btn-success">KAYDET</button>
}

